body {
  font: 16px Arial,sans-serif;
  padding-right: 10%;
  padding-left: 10%;
}

header {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  color: #354357;
}

p{
    font-size: 20px;
}

h5 {
	text-align: center;
}

.container {
	padding-top: 60px;
	padding-bottom: 60px;
}
